h1 {
    color: white;
    background-color: black;
}

.text {
    color: black;
    background-color: white;
}

#text2 {
    color: blue;
    background-color: red;
}

.lightblue {
    color: lightblue;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
}

/* th {
    border: 1px solid black;
}

td {
    border: 1px solid black;
} */